<nav class="main-nav">
  <ul {{ attributes.addClass('menu') }}>
    {% for link in links %}
      {%
        set classes = [
          'menu-item',
          item.is_expanded ? 'menu-item--expanded',
          item.is_collapsed ? 'menu-item--collapsed',
          item.in_active_trail ? 'menu-item--active-trail',
        ]
      %}
    <li {{ link.attributes.addClass(classes) }}>
      {{ link(link.title, link.url) }}
    </li>
    {% endfor %}
  </ul>
</nav>
